numpy
# For raspberry pi binary install
# numpy==1.24 

opencv-python
# For raspberry pi
#opencv-python==4.5.3.56 # too old
#opencv-python==4.6.0.66
#opencv-python==4.7.0.72 might also work

pysimplegui

# For google drive backup
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

# For speech synthesis
gTTS

wheel
playsound=1.2.2
